@font-face {
  font-family: "MyCustomFont";
  src: url("/Minecraft_1.1.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  font-weight: normal !important;
  font-family: "MyCustomFont", sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

/* 
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px; */