/* main.css */

body {
    overflow: hidden;
}

:root {
    --bg_1: #1A1C20;
    --bg_1: #1F222C;
    --bg_1: #20222F;
    --bg_1: #20222F;
    --bg_1: #1A1C20;
    --bg_1: #1A1C20;
    --bg_1: #222531;
}

/* top_block */

.top_block {
    position: relative;
    float: left;
    left: 20px;
    width: calc(100% - 560px);
    height: 50px;
    border-bottom: solid 2px #ffffff1a;
}

.name_chat {
    position: relative;
    text-align: center;
    top: 15px;
    font-size: 19px;
}

.div_img_top_block {
    position: relative;
    float: right;
    margin-right: 20px;
    width: 45px;
    height: 30px;
    background-color: #50ff73;
    top: -10px;
    border-radius: 60px;
    cursor: pointer;
    transition: all .3s;
}

.div_img_top_block:hover {
    opacity: .5;
}

.img_top_block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 17px;
}

/* right_block */

.right_block {
    position: relative;
    float: right;
    left: -20px;
    width: 220px;
    height: calc(100% - 40px);
    background-color: rgba(34, 37, 49, 0.5);
    border-radius: 5px;
    border: solid 1px #ffffff1a;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 0 10px #00000030;
}

/* input_message */
.input_message {
    position: absolute;
    bottom: 60px;
    left: 320px;
    background: linear-gradient(to right, rgba(22, 23, 29, 1) 0%, rgba(22, 23, 29, 0.452) 100%);
    width: calc(100% - 630px);
    border-radius: 5px;
    display: flex;
    align-items: flex-start;
    padding: 10px 15px;
    gap: 10px;
    min-height: 40px;
    max-height: calc(100% - 400px);
    overflow: hidden;
}

.avatar {
    position: absolute;
    border-radius: 50%;
    height: 35px;
    bottom: 12px;
}

.input_message textarea {
    position: relative;
    border: none;
    outline: none;
    resize: none;
    background-color: transparent;
    color: white;
    font-size: 15px;
    left: 40px;
    top: 15px;
    width: calc(100% - 170px);
    line-height: 20px;
    min-height: 25px;
    max-height: calc(100vh - 400px);
    overflow-y: auto;
    word-break: break-word;
    white-space: pre-wrap;
    padding: 0 10px 5px 10px;
    box-sizing: border-box;
}

.send_btn {
    position: relative;
    border-radius: 50%;
    background-color: #4484D7;
    height: 35px;
    width: 35px;
    cursor: pointer;
    top: 5px;
    left: 15px;
    float: right;
}

.send_btn img {
    height: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img_btn {
    position: relative;
    float: right;
    filter: invert(60%);
    height: 20px;
    top: 13px;
    left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.fix_textarea_div {
    position: absolute;
    right: 30px;
    bottom: 20px;
}

/* menu */

.menu {
    position: relative;
    float: left;
    width: 280px;
    height: calc(100% - 40px);
    background-color: #1A1C20;
    border-radius: 5px;
    border: solid 1px #ffffff1a;
    opacity: .8;
}

.div_screach_chat {
    position: relative;
    border-radius: 30px;
    padding: 10px;
    left: 30px;
    width: calc(100% - 50px);
    background-color: #23242A;
}

.img_screach_chat {
    position: relative;
    left: -10px;
    height: 17px;
    float: left;
    filter: invert(50%);
}

.input_screach_chat {
    position: relative;
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    color: white;
    font-size: 15px;
    width: calc(100% - 40px);
}

.settings_btn {
    position: relative;
    float: left;
    height: 25px;
    filter: invert(50%);
    cursor: pointer;
    top: 5px;
    left: -5px;
}

.menu_info_online {
    position: relative;
    float: right;
    border-radius: 50%;
    box-shadow: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    padding: 10px;
    background: radial-gradient(circle at center, rgba(98, 255, 132, 0.2) 0%, rgba(31, 34, 44, 1) 70%);
    display: flex;
    align-items: center;
    justify-content: center;

}

.menu_info_online p{
    color: #62ff79;
    font-weight: bold;
}

.chat_select {
    position: relative;
    float: left;
    margin-left: 10px;
    top: 13px;
    font-size: 16px;
    cursor: pointer;
    left: -10px;
    transition: all .3s;
}

.chat_select:hover {
    opacity: .5;
}

.chat_select_btn {
    color: #505fff;
}
