<!DOCTYPE html>
<html lang="en">
<head>
    <!-- index.ejs -->
    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- name -->
    <title>Voxta</title>

    <!-- css link -->
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <main>
    <%- include('components/menu.ejs') %>

    <div class="top_block">
        <h3 class="name_chat">Nest title</h3>
        <div class="div_img_top_block"><img class="img_top_block" src="/img/phone-call.png" alt="phone-call.png"></div>
    </div>

    <div class="right_block">

    </div>

    <div class="input_message">
      <img class="avatar" src="/img/avatar.png" alt="avatar.png">
      <textarea placeholder="Type a messange ..." type="text"></textarea>
      <div class="fix_textarea_div">
        <div class="send_btn"><img src="/img/send.png" alt="send.png"></div>
        <img class="img_btn" src="/img/happy-face.png" alt="happy-face.png">
        <img class="img_btn" src="/img/paper-clip.png" alt="paper-clip.png">
        <img class="img_btn" src="/img/sticky-note.png" alt="sticky-note.png">
      </div>
    </div>
  </main>
</body>
<!-- script -->
<script src="/js/lib/jquery-3.6.0.min.js"></script>
<script src="/js/main.js"></script>
</html>