<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AlertUA ultra</title>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div id="map-container">

        <div id="map"></div>
    </div>

    <div class="menu">
        <div class="menu_item"><img src="/img/question.png"></div>
        <div class="menu_item"><img src="/img/question.png"></div>
        <div class="menu_item"><img src="/img/question.png"></div>
        <div class="menu_item"><img src="/img/question.png"></div>
        <div class="menu_item"><img src="/img/question.png"></div>
    </div>
</body>
<!-- script -->
<script src="/js/lib/jquery-3.6.0.min.js"></script>
<script src="/js/lib/d3.v7.min.js"></script>
<script src="/js/lib/d3-geo-projection.v4.min.js"></script>
<script src="/js/main.js"></script>
</html>