<!-- menu.ejs -->

<div class="menu">
    <div class="pading">
        <img class="settings_btn" src="/img/settings.png" alt="settings.png">
        <div class="div_screach_chat">
            <img class="img_screach_chat" src="/img/search.png" alt="">
            <input class="input_screach_chat" placeholder="Screach user or chat" type="text">
        </div>
        <br>
        <p class="chat_select chat_select_btn">Chat</p>
        <p class="chat_select">Groups</p>
        <p class="chat_select">Channels</p>
        <div class="menu_info_online"><p>5</p></div>


    </div>
</div>
